.row.justify-content-center.my-3
  .col-sm-8.col-lg-6
    .card.m-4
      .card-header.text-center
        %h3 Edit Team Details
      = render 'form'

.row.justify-content-center
  .col-sm-8.col-lg-6
    .card.m-4
      .card-header.text-center
        %h3 Your Team's League
      .card-body
        = render 'scraper_form'
