.container.text-center
  .row.m-3
    %h3= "Players for #{@team.name}"
  .row 
    .col
      = render 'player_table'

  = link_to 'Invite a Player', new_team_user_team_path(@team), class: 'btn db-side-btn'
