.container
  .row 
    .col
      %table.table
        %thead 
          %tr 
            %th{ scope: 'col' } #
            %th{ scope: 'col' } Name
            %th{ scope: 'col' } Joined
            - if current_user.type == 'Manager' # include remove player column
              %th{ scope: 'col' }
        %tbody 
          - @players.each_with_index do | player, index |
            %tr 
              %th{ scope: 'row' }= index(+1)
              %td= player.name 
              - if current_user.type == 'Manager' # include remove player button
                %td
                  = link_to 'Remove', remove_team_player_path(team_id: @team.id, user_id: player.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this player from your team?' }

