%body
  %p Dear player

  %p Your team manager has resumed a postponed match for your team, and now it is rescheduled. Please click the following link to visit and check for more details.
  %a{ href: 'https://team04.demo1.genesys.shefcompsci.org.uk/player/upcoming_matches' } #{'PitchWize'} 

  %p Kind regards,
  %p PitchWize
