-# Admin User Card
-# HAML for a user card on the admin dashboard
-#
-# @param [ActiveRecord] user - The user to be rendered

- user_path = user.id.nil? ? '' : admin_user_path(current_user, user)
- update_path = user.id.nil? ? '' : admin_user_update_path(current_user, user)
- destroy_path = user.id.nil? ? '' : admin_user_destroy_path(current_user, user)
.user-card.pill-foldout{ id: "user-card-#{user.id}" }
  .pf-pill
    .uc-pill
      %a.page-link{ href: user_path }
        %span Go

      .email= user.email

  .pf-body
    .uc-enlarge
      %a.page-link{ href: user_path }
        %span Go

      %input(name='name'){ value: user.name }
      %input(name='email'){ value: user.email }

      %input(type='checkbox' name='site-admin'){ checked: !user.site_admin.nil? }
      %label(for='site-admin') Site Admin

      %button.save{ data: { url: update_path } } Save
      %button.pwreset Reset Password
      = link_to 'Remove Account', destroy_path
