.user-card{ id: "user-card-#{user.id}" }
  .uc-pill
    .email= user.email

  .uc-enlarge
    %input(name='name'){ value: user.name }
    %input(name='email'){ value: user.email }

    %input(type='checkbox' name='site-admin'){ checked: !user.site_admin.nil? }
    %label(for='site-admin') Site Admin

    %button.save Save
    %button.pwreset Reset Password
