-# Use <template> for automatically hidden HTML that can be cloned and used with JS
#admin-panel
  %aside#control-panel
    -# TODO: An option for the admin to select their default view
    -#       Would work by giving the selected class to the appropriate button
    -#       and then the JS will handle the rest
    %button#general General Stats
    %button#users.selected Users


  %section#info-block

    #general
      #gnrl-popularity
        .ltitle Site Visits
        %section
          .total
            .label Total
            .value 10000
          .avgm
            .label Average / Month
            .value
          .avgw
            .label Average / Week
            .value

    #users
      .card-list
        - @users.each do |user|
          = render partial: 'admin/user_card', locals: { user: user }


%template.user-card
  = render partial: 'admin/user_card', locals: { user: { id: 0, name: '', email: '', roles: [] } }

