.row.justify-content-center
  .col-sm-12.col-lg-6
    .card
      .card-header.text-center
        %h3 Invite a Player
      .m-2
        = render 'form'

  .container
    %h3 Pending Invites
    = render 'teams/player_table'
