main {
  height: 85vh;

  .container-fluid {
    height: 100%;
  }
}

#admin-panel {
  height: 100%;
  display: grid;
  grid-template-columns: 16em auto;
  gap: 1em;

  color: white;
  background-color: rgb(20, 20, 20);
}

#control-panel {
  background-color: rgb(102, 102, 102);

  button {
    margin-top: .6em;
    width: 100%;
    border: none;
    background-color: rgb(60, 60, 60);
    color: inherit;

    &.selected {
      background-color: rgb(150, 150, 150);
      font-size: 1.3em;
    }
  }
}

#info-block {
  overflow-y: scroll;

  & > * {
    padding-top: 1em;
  }
}

// ##################################
// General
// ##################################

#gnrl-popularity {
  display: flex;
  flex-direction: row;
  gap: 4em;

  .ltitle {
    min-width: 4em;
    font-size: 2.8em;
  }

  section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1.4em;
    font-size: 1.2em;
    text-align: center;
  }

  .value {
    font-size: 1.4em;
  }
}

// ##################################
// Users
// ##################################

.user-card {
  margin: 0.4em;
  background-color: white;
  color: black;
  padding: 0.2em .3em;

  .uc-enlarge {
    display: none;
  }

  &.open {
    .uc-pill {
      display: none;
    }

    .uc-enlarge {
      display: block;
    }
  }
}

.uc-pill {
  display: flex;
  flex-flow: row nowrap;

  .email {
    font-size: 1.4em;
    width: 28%;
    overflow-x: hidden;
    margin-right: 1em;
  }

  .role-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

// ##################################
// Teams
// ##################################

.team-card {
  margin: .4em;
  padding: .2em .3em;

  background-color: white;
  color: black;

  &.open {
    .tc-pill {
      display: none;
    }

    .tc-body {
      display: block;
    }
  }
}

.tc-pill {
  padding-left: 1.6em;
}

.tc-body {
  display: none;
  position: relative;

  margin-left: 2vw;
  padding: .4em 0;

  width: fit-content;
}

.tc-player {
  margin-top: .2em;
  padding-left: .4em;
}

.tcp-name {
  margin-left: .4em;
}

.search-dropdown {
  position: absolute;
  left: -.9em;

  width: max-content;

  padding: .2em .5em .3em;

  background-color: #E4E4E4;

  display: flex;
  flex-flow: column nowrap;

  &:empty {
    padding: 0;
  }
}

.search-entry {
  width: 100%;
  margin-top: .1em;
  padding: .1em .4em;
  cursor: pointer;

  &:hover {
    background-color: #9AABAA;
  }
}
