main {
  height: 85vh;

  .container-fluid {
    height: 100%;
  }
}

#admin-panel {
  height: 100%;
  display: grid;
  grid-template-columns: 16em auto;
  gap: 1em;

  color: white;
  background-color: rgb(20, 20, 20);
}

#control-panel {
  background-color: rgb(102, 102, 102);

  button {
    margin-top: .6em;
    width: 100%;
    border: none;
    background-color: rgb(60, 60, 60);
    color: inherit;

    align-items: center;

    &.selected {
      background-color: rgb(150, 150, 150);
      font-size: 1.3em;
    }
  }
}

#info-block {
  overflow-y: scroll;

  & > * {
    padding-top: 1em;
  }
}

// ##################################
// General
// ##################################

#general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#gnrl-popularity {
  max-width: 60em;
  width: 100%;

  display: grid;
  grid-template-rows: 4em 6em;
  grid-template-columns: 4fr repeat(3, 3fr) 1fr;
  grid-template-areas: "title aw am ay refr"
                       "total pw pm py refr";

  > div, .title, .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title { grid-area: title; }
  .total { grid-area: total; }

  .title, .total {
    p {
      margin: 0;
    }
  }

  .avgw { grid-area: aw; }
  .avgm { grid-area: am; }
  .avgy { grid-area: ay; }

  .pastw { grid-area: pw; }
  .pastm { grid-area: pm; }
  .pasty { grid-area: py; }

  .refresh { grid-area: refr; }
}

// ##################################
// Users
// ##################################

.user-card {
  margin: 0.4em;
  background-color: white;
  color: black;
  padding: 0.2em .3em;

  .uc-enlarge {
    display: none;
  }

  &.open {
    .uc-pill {
      display: none;
    }

    .uc-enlarge {
      display: block;
    }
  }
}

.uc-pill {
  display: flex;
  flex-flow: row nowrap;

  .email {
    font-size: 1.4em;
    width: 28%;
    overflow-x: hidden;
    margin-right: 1em;
  }

  .role-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

.unsolved-report-card {
  margin: 0.4em;
  background-color: white;
  color: black;
  padding: 0.2em .3em;
}

.solved-report-card {
  margin: 0.4em;
  background-color: white;
  color: black;
  padding: 0.2em .3em;
}

.rc-pill {
  display: flex;
  flex-flow: row nowrap;
  .content {
    font-size: 1.4em;
    width: 28%;
    overflow-x: hidden;
    margin-right: 1em;
  }
  .user_id {
    font-size: 1.4em;
    width: 28%;
    overflow-x: hidden;
    margin-right: 1em;
  }
}
// ##################################
// Teams
// ##################################

.team-card {
  margin: .4em;
  padding: .2em .3em;

  background-color: white;
  color: black;

  &.open {
    .tc-pill {
      display: none;
    }

    .tc-body {
      display: block;
    }
  }
}

.tc-pill {
  padding-left: 1.6em;
}

.tc-body {
  display: none;
  position: relative;

  margin-left: 2vw;
  padding: .4em 0;

  width: fit-content;
}

.tc-owner {
  margin: .7em .4em 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2em;

  h4 { margin: 0; }
}

.tc-new-member {
  margin: .3em 0 .6em;

  .add {
    height: fit-content;
  }

  form {
    padding-left: .4em;

    display: flex;
    flex-flow: row nowrap;
    gap: .8em;
  }

  .roles-context {
    display: flex;
    flex-flow: column nowrap;
  }

  .role-list {
    padding: .2em;

    span {
      padding: .2em .3em;
      cursor: pointer;
    }

    &:empty {
      padding: 0;

      &::after {
        display: block;
        width: 100%;

        content: "None";
        color: #ABABAB;
        text-align: center;
        font-style: italic;
      }
    }
  }
}

.tc-member {
  margin-bottom: .4em;

  &.open {
    .tcm-pill {
      display: none;
    }

    .tcm-body {
      display: block;
    }
  }
}

$delete-button-width: 10%;

.tcm-pill {
  display: grid;
  grid-template-columns: $delete-button-width 50% auto;
  gap: .4em;
}

.tcm-name, .tcm-roles {
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  text-overflow: hidden;
}

.tcm-body {
  display: none;
  margin-left: .4em;

  .head {
    margin-bottom: .8em;

    display: grid;
    grid-template-columns: $delete-button-width auto;
    gap: .4em;
  }
}

.live-search-tm-team-role {
  margin-bottom: .4em;
}

.tcm-team-role {
  margin-bottom: .3em;
  width: 60%;

  display: grid;
  grid-template-columns: 22% repeat(2, 1fr);
  gap: .2em;
}

