.live-search-dropdown {
  position: absolute;
  left: -.9em;

  width: max-content;

  padding: .2em .5em .3em;

  background-color: #E4E4E4;

  display: flex;
  flex-flow: column nowrap;

  &:empty {
    padding: 0;
  }
}

.live-search-entry {
  width: 100%;
  margin-top: .1em;
  padding: .1em .4em;
  cursor: pointer;

  &:hover {
    background-color: #9AABAA;
  }
}

