-# frozen_string_literal: true
:ruby
  # rubocop:disable Lint/Syntax
-# The parameter to simple_form_for used to have an @ in front of it but I got rid of it as Rubocop was complaining
= simple_form_for(@singular_table_name) do |f|
  .card-body
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, wrapper_html: { class: 'mb-3' }
  <%- end -%>

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', back_path, class: 'btn btn-link ms-auto'
:ruby
  # rubocop:enable Lint/Syntax
