.footer.text-center
  .container.p-4
    .p-3
      = image_pack_tag('images/logo.svg', width: '250', height: '60', alt: 'PitchWize')
    .col
      .row
        = link_to 'My Profile', user_profile_path 
      .row
        = link_to 'Report', root_path
