%nav.navbar.navbar-expand-lg.sticky-top
  .container-fluid
    %a.navbar-brand{ href: root_path }
      = image_pack_tag('images/logo.svg', width: '250', height: '60', alt: 'PitchWize')
    #navbarNav.collapse.navbar-collapse.my-2.mx-4
      %ul.navbar-nav.ms-auto
        - if user_signed_in?
          - if current_user.decorate.admin?
            %li.nav-item
              = link_to 'Admin', admin_index_path(current_user), class: 'nav-link'
          %li.nav-item
            = button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
          %li.nav-item
            = link_to 'My Profile', user_profile_path, class: 'nav-link'
